.page-container {
    position: relative;
    width: 1520px;
    height: 725px;
    background-color: #000000;
    overflow: hidden; // Pour éviter que les ronds sortent de l'écran
  }
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffcc00;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
    transition: transform 0.1s linear;
  }
  
  .stop-button {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
  }
  
  .stop-button:hover {
    background-color: darkred;
  }
  